body {
  padding-top: 0px;
}
.starter-template {
  padding: 20px 15px;
  text-align: center;
}
.display-table {
  display : table;
}

.align_left {
  text-align: left ! important;
}

.fixed-table { 
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.form_padding {
  padding-left: 50px;
  padding-right: 50px;
}

.top-buffer { margin-top:20px; }

.loader-info {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 120px;
    height: 120px;
    margin: -16px 0 0 -16px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    z-index: 100501;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 30%;
    width: 120px;
    height: 120px;
    margin: -16px 0 0 -16px;
    z-index: 100500;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}